{% extends base_template_name %}

{% load tz %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load edc_base_extras %}

{% block main %}
<div class="container">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-{% if navbar_name == 'anonymous' %}danger{% else %}info{% endif %}">
                <div class="panel-heading">

                    <button class="btn btn-sm btn-default" type="submit" id="action" name="action" form="" value="called">
				        <span class="glyphicon glyphicon-phone-alt"></span> Called
				    </button>
				    <button class="btn btn-sm btn-default" type="submit" id="action" name="action" form="" value="visited">
				        <span class="glyphicon glyphicon-home"></span> Visited
				    </button>
                        <span class="pull-right">{% include 'edc_dashboard/search_form.html' %}</span>

                </div>
                <div class="table table-responsive">
                    <table class="table table-condensed table-hover small">
                    <thead>

                        {% include 'bcpp_follow/listboard/results_header.html' %}

			        </thead>
			        <tbody>

                    {% include 'bcpp_follow/listboard/results_body.html' %}

			         </tbody>
			         </table>
                    <!-- begin spacer rows -->
                    <table>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    </table>
                    <!-- end spacer rows -->
                </div>
                {% include 'edc_dashboard/paginator.html' %}
        </div>
      </div>
    </div>
  </div>

{% endblock main %}
